    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
    }
    body {
        margin-bottom: 50%;
        margin-top: 5%;
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: justify;
    }

    div {
      margin: 0.25rem;
      margin-bottom: 2.4rem;
    } 
    div::first-letter {
      font-weight: bold;
      font-size: 1.01em;
    }

    li {
      padding: 6px;
    }
