/*@media (max-width: 599px) {*/
/*  body {*/
/*    font-size: 14px;*/
/*  }*/
/*}*/
/*@media (min-width: 600px) and (max-width: 1200px) {*/
/*  body {*/
/*    font-size: calc(14px + (100vw - 600px) / 600 * 10);*/
/*  }*/
/*}*/
/*@media (min-width: 1201px) {*/
/*  body {*/
/*    font-size: 20px;*/
/*    max-width: 900px;*/
/*  }*/
/*}*/

/*pre, code {*/
/*  font-size: 80%;*/
/*}*/

pre{
  background: #ffffe4;
}

body{
  background: lightcyan;
}

a{
  color: brown;
}


/*copied from https://codepen.io/jameswee/pen/bLbRXb*/
