
a{color:inherit;}
/* h1,h2{color: #3a2de2;} */

body{
/*    font-family: 'Open Sans', sans-serif;*/
    background: #ffffe4; /*#3A4145;*/
    font-size: 3.0vw; 
    line-height: 1.6em;
    padding: 1em;
   /* width: 100%; */
    max-width: 700px;
}

pre, code{
	font-weight: bold;
}
