@media (max-width: 599px) {
  body {
    font-size: 20px;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  body {
    font-size: calc(20px + (100vw - 600px) / 600 * 10);
  }
}
@media (min-width: 1201px) {
  body {
    font-size: 30px;
    max-width: 900px;
  }
}


/*copied from https://codepen.io/jameswee/pen/bLbRXb*/
